<h1 mat-dialog-title><a href="https://github.com/shubshres/Bin-Buddy">Bin Buddy</a></h1>
    <div>
        <p><strong>Tech Stack:</strong> Ionic, Google Firebase</p>
        <p><strong>Tools/APIs Utilized:</strong> Microsoft Azure DevOps, Figma, <a href="https://docs.mapbox.com/api/overview/">Mapbox web services API</a></p>

        <p>
            To help increase the efficiency of Garbage Collection, promote recycling, and making household garbage/recycling
            management easier, I and three other teammates aimed to develop an app that will act as a central location for residents to track their local
            garbage truck and have access to proper waste management methods.
        </p>
        <p>
            We aimed to reach these goals by allowing residents to view the location of the truck utilizing the MapBox API to view the position of the 
            Garbage Truck on the map, allowing them to also view an estimated time of arrival. Residents are also able to view proper waste disposal methods 
            in order to promote responsible waste management techniques.
        </p>
        <p>
            Not only did we focus on the resident side of this application, but also the driver side. Waste management companies still require their drivers to 
            memorize their routes, with our application, the drivers can view their routes on their mobile devices and allow them to view the quickest routes for 
            their stops relative to traffic. We also provide a platform for waste management companies and drivers to manage their vehicle fleet through maintenance 
            requests. 
        </p>
        <p>
            This project was created utilizing the Ionic (Angular) Framework in order to create a Progressive Web Application (PWA) and the Mapbox web services API
            to track the trucks, view their position, and create routes. 
        </p>
        <p>
            We created this application for our Senior Design Summer 2022 project. In this project, I worked as a Full Stack Developer and UI/UX designer. 
            My tasks dealt with working on Google Firebase, User Login/Registration, Front End Design/Development, and Page Routing. 
            You can find more information about the development on our blog post<a href="https://blog.uta.edu/cseseniordesign/2022/06/22/bin-buddy/"> here</a>. 
        </p>
        <br>
        <p>
            Created by the Clean Team: 
        </p>
            <ul>
                <li><a href="https://www.linkedin.com/in/shubhayu-shrestha/">Shubhayu Shrestha</a></li>
                <li><a href="https://www.linkedin.com/in/mohammed-ahmed123/">Mohammed Ahmed</a></li>
                <li><a href="https://www.linkedin.com/in/amaykadakia/">Amay Kadakia</a></li>
                <li><a href="https://www.linkedin.com/in/nicholas-soliz-9633bb155/">Nicholas Soliz</a></li>
            </ul>

        
    </div>