<input type="hidden" #selection>
<!-- <div class="terminal">
<p>hello</p>
</div> -->

<div id="container--main">

    <section class="section--page">
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <img id="profile-pic" src="./assets/profile_pic.png">
            <div fxLayout="column" fxLayoutAlign="space-between">
                <h1 id="user-name" style="padding-top: 2rem;">Shubhayu Shrestha</h1>
            </div>
        </div>
    </section>

    <section class="section--page">
        <div class="about-section">
            <h2>About Me</h2>
            <p>
                My name is Shubhayu Shrestha and I am currently a Full Stack Engineer at Fidelity Investments! I recently graduated from the University of Texas at Arlington in December 2022 where I studied Software Engineering.
            </p>
            <p>
                I formerly worked as an Undergraduate Researcher at UTA's Heracleia lab and as a as a Full Stack Engineer Intern at Lockheed Martin and am currently working as a Full Stack Engineer at Fidelity Investments.
            </p>
            <p>
                 I have a strong passion for programming, problem solving, game development, and UI/UX design and I love being able to apply those skills on large scale projects!
            </p>
        </div>

        <div>
            <h2>Hobbies</h2>
            <p>Some things I like to do outside of coding are playing soccer, hanging out with my friends, going to the gym, and traveling!</p>
        </div>
    </section>
</div>
