<mat-toolbar class="nav-bar">
    <span style="padding-left: 1rem">
        // shubshres
    </span>
    <div class="spacer"></div>
    <a mat-flat-button class="nav-button" [routerLink]="'/home'" [disableRipple]="true">Home</a>
    <!-- <a mat-flat-button class="nav-button" [routerLink]="'/about-me'" [disableRipple]="true">About Me</a>
    <a mat-flat-button class="nav-button" [routerLink]="'/projects'" [disableRipple]="true">Projects</a>
    <a mat-flat-button class="nav-button" [routerLink]="'/contact-me'" [disableRipple]="true">Contact Me</a> -->
</mat-toolbar>