<mat-toolbar class="nav-bar">
    <span style="padding-left: 1rem">
        // shubshres
    </span>
    <div class="spacer"></div>
    <a mat-flat-button class="nav-button" [disableRipple]="true">Home</a>
    <a mat-flat-button class="nav-button" [disableRipple]="true">About Me</a>
    <a mat-flat-button class="nav-button" a href="https://github.com/shubshres?tab=repositories" [disableRipple]="true">Projects</a>
    <a mat-flat-button class="nav-button" [disableRipple]="true">Contact Me</a>
</mat-toolbar>