<h1 mat-dialog-title><a href="https://github.com/shubshres/CarRentalDatabase">Car Rental Database 📎</a></h1>
<div>
    <p><strong>Tech Stack:</strong> Python, SQLite3, Tkinter</p>
    <p>Developed a car rental management program to assist car rental companies to
    manage their fleet and handle invoices. This program includes a vehicle search function where users can search their
    vehicle inventory through descriptions or VIN numbers and access daily rates and search for customers to view their
    remaining balance owed to the company, what vehicles they have rented, and their details.</p>
</div>