<h1 mat-dialog-title><a href="https://github.com/shubshres/Stock-Trading-Alert">Stock Trading Alert 📎</a></h1>
<div>
    <p><strong>Tech Stack:</strong> Python</p>
    <p><strong>APIs: Alphavantage API, News API, Twilio API</strong></p>
    <p>Created a stock trading alert program in Python that will send an SMS message if a stock value changes by over 5%. This
    program was created utilizing the Alphavantage API for the stock data, News API for the news articles, and the Twilio
    API to send the SMS messages to send the user the change in stock value. This project is currently being hosted on
    PythonAnywhere for it to run 24/7.</p>
</div>

