<h1 mat-dialog-title><a href="https://github.com/shubshres/Ava">Ava</a></h1>
<div>
    <p><strong>Created Using:</strong> Python</p>
    <p>
        Created a voice assistant using python that can:
    </p>
    <ul>
        <li>Tell you your name</li>
        <li>Play a song (from YouTube)</li>
        <li>Tell you the date/time</li>
        <li>Make Google searches</li>
        <li>Go to a website</li>
        <li>Tell you specific information about a person/something</li>
        <li>Tell you a joke</li>
    </ul>
</div>