<h1 mat-dialog-title><a href="https://github.com/srisubhashp/littlehopper-AndroidApplication">Teaching Toddlers 📎</a></h1>
<div>
    <p><strong>Tech Stack:</strong> Java, Google Firebase</p>
    <p><strong>Tools Used:</strong> Android Studio, Figma</p>
    <p><strong>APIs: Alphavantage API, News API, Twilio API</strong></p>
    <p>Created an Android app in a team that was utilized to help toddlers learn and practice arithmetic, colors,
    and image recognition through a series of interactive and progressively challenging games.</p>
</div>

