<input type="hidden" #selection>
<!-- <div class="terminal">
<p>hello</p>
</div> -->

<div id="container--main">

    <section class="section--page">
        <div>
            <h1 id="user-name" style="padding-top: 2rem;">Shubhayu Shrestha</h1>
            <p id="bio">Full Stack Developer @ Lockheed Martin</p>
            <div>
                <p id="email">📧 shresthashubhayu@gmail.com</p>
            </div>

            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/shubhayu-shrestha" matTooltip="LinkedIn" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"><img src="../../assets/icons/LinkedIn-Logos/linkedin32x32.png"></a>
                <a class="social-icon" href="https://github.com/shubshres" matTooltip="GitHub" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"><img src="../../assets/icons/GitHub-Mark/PNG/GitHub-Mark-32px.png"></a>
            </div>
        </div>
    </section>

    <div class="line-break"></div>
    <section class="section--page">
        <h2>GitHub</h2>
        <img src="https://ghchart.rshah.org/shubshres" alt="My GitHub Chart" />
    </section>

    <section class="section--page">
        <h2>Projects</h2>
        <div class="card--project">
            <a href="https://github.com/shubshres/Bin-Buddy"><span>🗑️ &nbsp;</span>Bin Buddy!</a>
        </div>
        <div class="card--project">
            <a href="https://github.com/shubshres/Ava"><span>🎙 &nbsp;</span>Ava (Voice Assistant)</a>
        </div>
        <div class="card--project">
            <a href="https://github.com/shubshres/CarRentalDatabase"><span>🚗 &nbsp;</span>Car Rental Database</a>
        </div>
        <div class="card--project">
            <a href="https://github.com/shubshres/Stock-Trading-Alert"><span>📈 &nbsp;</span>Stock Trading Alert</a>
        </div>
        <div class="card--project">
            <a href="https://github.com/srisubhashp/littlehopper-AndroidApplication"><span>📓 &nbsp;</span>Teaching Toddlers App</a>
        </div>
        <div class="card--project">
            <a href="https://github.com/shubshres?tab=repositories"><span> &nbsp;</span><u>All Projects</u></a>
        </div>
    </section>

    <section class="section--page">
        <h2>Technical Skills</h2>
        <div id="wrapper--techstack__items">
            <div class="card--techstack" matTooltip="Languages" matTooltipPosition="above" matTooltipHideDelay="100" matTooltipShowDelay="100"><span>Python, C++, C, Java, TypeScript, JavaScript, CSS, C#, R, ARM Assembly</span></div>
            <div class="card--techstack" matTooltip="Frameworks" matTooltipPosition="above" matTooltipHideDelay="100" matTooltipShowDelay="100"><span>Angular, Ionic, React.js, React Native, Bootstrap, NgRx, Socket.io</span></div>
            <div class="card--techstack" matTooltip="Backend" matTooltipPosition="above" matTooltipHideDelay="100" matTooltipShowDelay="100"><span>Flask, Node.js</span></div>
            <div class="card--techstack" matTooltip="Data" matTooltipPosition="above" matTooltipHideDelay="100" matTooltipShowDelay="100"><span>SQLite3, Google Firebase, MongoDB</span></div>
            <div class="card--techstack" matTooltip="Tools/Technologies" matTooltipPosition="above" matTooltipHideDelay="100" matTooltipShowDelay="100"><span>Kubernetes, Docker, Git, GitHub, Azure DevOps, JIRA, Unity, Unreal Engine, Figma, Android Studio, Drupal, ROS Kinetic, Tkinter, Junit</span></div>
            <div class="card--techstack" matTooltip="Operating Systems" matTooltipPosition="above" matTooltipHideDelay="100" matTooltipShowDelay="100"><span>macOS, Windows, Linux/Ubuntu</span></div>
        </div>
    </section>

    <section id="work-history-wrapper" class="section--page">
        <h2>Experience</h2>
        <div class="line-break"></div>
        <div class="card--work-history">
            <div><strong>Lockheed Martin Corporation - Fort Worth, TX </strong></div>
            <p>Full Stack Developer - Intern</p>
            <div>
                <p>May 2022 - Present</p>
            </div>

            <p>JADO Readiness</p>
            <ul>
                <li>Developed a Minimal Viable Product (MVP) using Angular, Flask, Socket.io, Kubernetes, and Docker to provide an
                interface for calculating JADO Readiness for multiple projects and systems.</li>
                <li>Used CI/CD pipelines to improve the software development process</li>    
                <li>Developed following the agile development process and used JIRA to manage stories.</li>
            </ul>
            <p>Training/Miscellaneous</p>
            <ul>
                <li>Accepted in Lockheed Martin's AI/ML Fundamentals Program</li>
                <li>Gained experience in development of AR/VR simulations through Unity.</li>
            </ul>
        </div>
        <div class="card--work-history">
            <div><strong>The University of Texas at Arlington - Arlington, TX </strong></div>
            <p>Undergraduate Researcher</p>
            <div>
                <p>April 2021 - May 2022</p>
            </div>
            <p>Worked as an undergraduate researcher at The University of Texas at Arlington's Heracleia Human-Centered Computing Lab gaining exposure to Robotics, Reinforcement Learning, and Contrastive Learning methodologies.</p>
            <p><a href="https://dl.acm.org/doi/abs/10.1145/3529190.3534731">Traversability Estimation Framework</a></p>
            <ul>
                <li>Created a framework that blends self-supervised contrastive pre-training with semi-supervised learning using
                fine-tuning, as a means to perform successful image classification for traversability estimation purposes in an indoor
                environment scenario while addressing the small size of the collected dataset.</li> 
                <li>This work was completed as an REU working under PhD Student Christos Sevastopoulos.</li>
                <li>Presented as a poster paper at the international conference PETRA 2022</li>
            </ul>
            <p>Reinforcement Learning Project (Unfinished)</p>
            <ul>
                <li>Utilized ROS Kinetic to control a Sawyer Robot to pick up blocks utilizing reinforcement learning</li>
            </ul>
            <p><a href="https://petrae.org">PETRA Committee</a></p>
            <ul>
                <li>Assisted in the organization of the international conference PETRA 2022</li>
                <li>Worked on assisting in workshops and setting up presentations</li>
                <li>Maintained and updated the PETRA website</li>
            </ul>
        </div>
    </section>
    
    <section id="work-history-wrapper" class="card--education--section">
        <h2>Education</h2>
        <div class="line-break"></div>
        <div class="card--education"  fxLayout="row" fxLayoutAlign="space-around start">
            <div><strong>The University of Texas at Arlington</strong></div>
            <div>
                <p>Bachelor of Science, Software Engineering</p>
                <p>GPA: 3.84/4.0</p>
                <p>College of Engineering Dean's List</p>
                <p>Maverick Academic Scholarship</p>
            </div>
            <div><p>August 2019 - December 2022</p> </div>
        </div>
    </section>
</div>

