<input type="hidden" #selection>
<!-- <div class="terminal">
<p>hello</p>
</div> -->

<div id="container--main">

    <section class="section--page">
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <img id="profile-pic" src="../../assets/new-profilepic.png">
            <div fxLayout="column" fxLayoutAlign="space-between">
                <h1 id="user-name" style="padding-top: 2rem;">Shubhayu Shrestha</h1>
                <p id="bio">Full Stack Engineer @ <a class="fidelity" href="https://www.fidelity.com"> Fidelity
                        Investments </a></p>
                <div style="padding-bottom: 1rem">
                    <p id="email"><a href="mailto:shresthashubhayu@gmail.com" matTooltip="Send me an email!"
                            matTooltipPosition="right" matTooltipHideDelay="100" matTooltipShowDelay="100">📧
                            shresthashubhayu@gmail.com</a></p>
                </div>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/shubhayu-shrestha" target="_blank"
                        matTooltip="LinkedIn" matTooltipPosition="below" [matTooltipShowDelay]="100"
                        [matTooltipHideDelay]="100"><img src="../../assets/icons/LinkedIn-Logos/linkedin.png"
                            style="height: 32px"></a>
                    <a class="social-icon" href="https://github.com/shubshres" target="_blank" matTooltip="GitHub"
                        [matTooltipShowDelay]="100" matTooltipPosition="below" [matTooltipHideDelay]="100"><img
                            src="../../assets/icons/GitHub-Mark/PNG/GitHub-Mark-32px.png"></a>
                    <!-- <a class="social-icon" href="https://www.instagram.com/shubshres/" matTooltip="Instagram" [matTooltipShowDelay]="100"
                        [matTooltipHideDelay]="100"><img src="../../assets/icons/instagram.png" style="width: 32px; height: 32px"></a> -->
                    <a class="social-icon"
                        href="https://drive.google.com/file/d/1t687PCufgxdJDtuQs_TMrauJVPzBkzvT/view?usp=sharing"
                        target="_blank" matTooltip="Resume" [matTooltipShowDelay]="100" matTooltipPosition="below"
                        [matTooltipHideDelay]="100"><img src="../../assets/icons/resume.png"
                            style="width: 32px; height: 32px"></a>
                </div>
            </div>
        </div>
    </section>

    <section class="section--page">
        <h2>My Projects</h2>
        <div class="card--project">
            <button mat-button [disableRipple]="true" (click)="openBinBuddy()"><span>🗑️ &nbsp;</span>Bin Buddy</button>
            <!-- <a href="https://github.com/shubshres/Bin-Buddy"><span>🗑️ &nbsp;</span>Bin Buddy</a> -->
        </div>
        <div class="card--project">
            <button mat-button [disableRipple]="true" (click)="openAva()"><span>🎙 &nbsp;</span>Ava (Voice
                Assistant)</button>
            <!-- <a href="https://github.com/shubshres/Ava"><span>🎙 &nbsp;</span>Ava (Voice Assistant)</a> -->
        </div>
        <div class="card--project">
            <button mat-button [disableRipple]="true" (click)="openCarRentalDatabase()"><span>🚗 &nbsp;</span>Car Rental
                Database</button>
            <!-- <a href="https://github.com/shubshres/CarRentalDatabase"><span>🚗 &nbsp;</span>Car Rental Database</a> -->
        </div>
        <div class="card--project">
            <button mat-button [disableRipple]="true" (click)="openStockAlert()"><span>📈 &nbsp;</span>Stock Trading
                Alert</button>
            <!-- <a href="https://github.com/shubshres/Stock-Trading-Alert"><span>📈 &nbsp;</span>Stock Trading Alert</a> -->
        </div>
        <div class="card--project">
            <button mat-button [disableRipple]="true" (click)="openTeachingToddlers()"><span>📓 &nbsp;</span>Teaching
                Toddlers App</button>
            <!-- <a href="https://github.com/srisubhashp/littlehopper-AndroidApplication"><span>📓 &nbsp;</span>Teaching Toddlers App</a> -->
        </div>
        <div class="card--project">
            <button mat-button [disableRipple]="true" routerLink="/projects"><span> &nbsp;</span><u>All
                    Projects</u></button>
            <!-- <a href="https://github.com/shubshres?tab=repositories"><span> &nbsp;</span><u>All Projects</u></a> -->
        </div>
    </section>

    <section class="section--page">
        <h2>Technical Skills</h2>
        <div id="wrapper--techstack__items">
            <div class="card--techstack" matTooltip="Languages" matTooltipPosition="above" matTooltipHideDelay="300"
                matTooltipShowDelay="300"><span>Python, C++, C, Java, TypeScript, JavaScript, CSS, C#, R, ARM
                    Assembly, Swift</span></div>
            <div class="card--techstack" matTooltip="Frameworks" matTooltipPosition="above" matTooltipHideDelay="300"
                matTooltipShowDelay="300"><span>Angular, Ionic, React.js, React Native, Bootstrap, NgRx,
                    Socket.io</span>
            </div>
            <div class="card--techstack" matTooltip="Backend" matTooltipPosition="above" matTooltipHideDelay="300"
                matTooltipShowDelay="300"><span>Flask, Node.js</span></div>
            <div class="card--techstack" matTooltip="Data" matTooltipPosition="above" matTooltipHideDelay="300"
                matTooltipShowDelay="300"><span>SQLite3, Google Firebase, MongoDB</span></div>
            <div class="card--techstack" matTooltip="Tools/Technologies" matTooltipPosition="above"
                matTooltipHideDelay="300" matTooltipShowDelay="300"><span>JIRA, Unity, Unreal Engine, JUnit, Figma,
                    Kubernetes, Docker, Git,
                    Azure DevOps, Android Studio, Drupal, ROS Kinetic, Tkinter, cPanel</span></div>
            <div class="card--techstack" matTooltip="Operating Systems" matTooltipPosition="above"
                matTooltipHideDelay="300" matTooltipShowDelay="300"><span>macOS, Windows, Linux/Ubuntu</span></div>
        </div>
    </section>

    <section id="work-history-wrapper" class="section--page">
        <h2>Experience</h2>
        <div class="card--work-history">
            <div><strong>Fidelity Investments - Westlake, TX </strong></div>
            <p>Software Engineer</p>
            <div>
                <p>January 2023 - Present</p>
            </div>

            <p>Software Engineer at Fidelity Investments working in Customer Data and Marketing Technology</p>

            <p>Tech Stack</p>
            <ul>
                <li>Java, SQL</li>
            </ul>

            <p>Skills</p>
            <ul>
                <!-- <li>Deployed code into public cloud and/or on-Premise infrastructure</li> -->
                <!-- <li>Gained experience with DevOps practices</li> -->
                <li>Gained a stronger understanding of Data Structures and Design Patterns</li>
                <li>Further practiced communication skills and worked with documentaiton, flow charts, design diagrams,
                    charts, and commented on code</li>
                <li>Worked under Agile practices</li>
                <li>Gained experience working with Git based version control systems</li>
                <!-- <li>Gained insight on deployment tools like Jenkins, Deploy, NPM, Maven etc</li> -->
            </ul>

        </div>
        <div class="card--work-history">
            <div><strong>Lockheed Martin Corporation - Fort Worth, TX </strong></div>
            <p>Full Stack Developer - Intern</p>
            <div>
                <p>May 2022 - January 2023</p>
            </div>

            <p>Joint All-Domain Operations (JADO) Readiness Program Project</p>
            <ul>
                <li>Developed an open source Minimal Viable Product (MVP) using Angular, Flask, Socket.io, Kubernetes,
                    and Docker to provide an
                    interface for calculating JADO Readiness for multiple projects and systems</li>
                <li>Used CI/CD pipelines to improve the software development process</li>
                <li>Developed following the agile development process and used JIRA to manage stories</li>
                <li>Implemented Socket.io to show live changes between users</li>
                <li>Implemented NgRx to reduce API calls, improving the efficiency of the application</li>
            </ul>
            <p>Training/Miscellaneous</p>
            <ul>
                <li>Trained in Lockheed Martin's AI/ML Fundamentals Program</li>
                <li>Gained experience in development of AR/VR simulations through Unity</li>
            </ul>
        </div>
        <div class="card--work-history">
            <div><strong>The University of Texas at Arlington - Arlington, TX </strong></div>
            <p>Undergraduate Researcher</p>
            <div>
                <p>April 2021 - May 2022</p>
            </div>
            <p>Worked as an undergraduate researcher at The University of Texas at Arlington's Heracleia Human-Centered
                Computing Lab gaining exposure to Robotics, Reinforcement Learning, and Contrastive Learning
                methodologies. </p>
            <p><a href="https://dl.acm.org/doi/abs/10.1145/3529190.3534731" matTooltip="Check out the publication!"
                    matTooltipPosition="right" matTooltipHideDelay="300" matTooltipShowDelay="300">Traversability
                    Estimation Framework 📎</a></p>
            <ul>
                <li>Created a framework that blends self-supervised contrastive pre-training with semi-supervised
                    learning using
                    fine-tuning, as a means to perform successful image classification for traversability estimation
                    purposes in an indoor
                    environment scenario while addressing the small size of the collected dataset</li>
                <li>This work was completed as an REU working under PhD Student Christos Sevastopoulos</li>
                <li>Presented as a poster paper at the international conference PETRA 2022</li>
            </ul>
            <p>Reinforcement Learning Project (Unfinished)</p>
            <ul>
                <li>Utilized ROS Kinetic to control a Sawyer Robot to pick up blocks utilizing reinforcement learning
                </li>
            </ul>
            <p><a href="https://petrae.org" matTooltip="Visit the PETRA Website?" matTooltipPosition="right"
                    matTooltipHideDelay="300" matTooltipShowDelay="300">PETRA Committee</a></p>
            <ul>
                <li>Assisted in the organization of the international conference PETRA 2022</li>
                <li>Worked on assisting in workshops and setting up presentations</li>
                <li>Maintained and updated the PETRA website</li>
            </ul>
        </div>
    </section>

    <section id="work-history-wrapper" class="card--education--section">
        <h2>Education</h2>
        <div class="card--education" fxLayout="row" fxLayoutAlign="space-around start">
            <div><strong>The University of Texas at Arlington</strong></div>
            <div>
                <p>Bachelor of Science, <a href="https://catalog.uta.edu/engineering/computer/undergraduate/">Software
                        Engineering</a></p>
                <p>GPA: 3.85/4.0</p>
                <p>Magna Cum Laude</p>
                <p>College of Engineering Dean's List</p>
                <p>Maverick Academic Scholarship</p>
            </div>
            <div>
                <p>August 2019 - December 2022</p>
            </div>

            <div class="card--education--courses" fxLayout="row" fxLayoutAlign="space-around start">
                <div>
                    <strong>Program Coursework</strong>
                </div>
                <div>
                    <button class="course-buttons" mat-button [disableRipple]="true" matTooltip="CSE 4361 SOFTWARE DESIGN PATTERNS: In-depth study of software design patterns including description of patterns,
                            design principles and techniques used by patterns as well as application of patterns
                            to solving practical design problems. Team project." matTooltipPosition="right"
                        matTooltipHideDelay="300" matTooltipShowDelay="300">
                        Software Design Patterns
                    </button>
                    <button class="course-buttons" mat-button [disableRipple]="true" matTooltip="CSE 4380 INFORMATION SECURITY: Hands-on introduction to the basics of security. Includes system security,
                            buffer overflows, a high-level overview of cryptography, firewalls and intrusion detection/prevention, malware,
                            penetration testing, forensics, and system administration." matTooltipPosition="right"
                        matTooltipHideDelay="300" matTooltipShowDelay="300">
                        Information Security
                    </button>
                    <button class="course-buttons" mat-button [disableRipple]="true" matTooltip="CSE 4321 SOFTWARE TESTING: Study of software quality assurance, software testing process, methods,
                        techniques and tools. Topics include formal review techniques, black box testing, white box testing, integration
                        testing, acceptance testing, regression testing, performance testing, stress testing, and testing of
                        object-oriented software." matTooltipPosition="right" matTooltipHideDelay="300"
                        matTooltipShowDelay="300">
                        Software Testing
                    </button>
                </div>
                <div>
                    <button class="course-buttons" mat-button [disableRipple]="true" matTooltip="CSE 4344 COMPUTER NETWORK ORGANIZATION: Design and analysis of computer networks. Emphasis on the OSI
                        architecture but discusses other schemes (e.g., ARPAnet). Data link control, local networks, protocols/architectures,
                        network access protocols, transport protocols, internetworking, and ISDN. "
                        matTooltipPosition="right" matTooltipHideDelay="300" matTooltipShowDelay="300">
                        Computer Network Organization
                    </button>
                    <button class="course-buttons" mat-button [disableRipple]="true" matTooltip="CSE 4322 SOFTWARE PROJECT MANAGEMENT: Introduction to software project management. Issues include effort
                        estimation and costing, project planning and scheduling, option analysis, software quality assurance, and formal
                        technical reviews." matTooltipPosition="right" matTooltipHideDelay="300"
                        matTooltipShowDelay="300">
                        Software Project Management
                    </button>
                    <button class="course-buttons" mat-button [disableRipple]="true" matTooltip="CSE 4323 QUANTITATIVE COMPUTER ARCHITECTURE: Pipelined processors, parallel processors including shared and
                        distributed memory, multicore, Very Long Instruction Word (VLIW) and graphics processors, memory and cache design,
                        computer peripherals, and computer clusters. " matTooltipPosition="right"
                        matTooltipHideDelay="300" matTooltipShowDelay="300">
                        Quantitative Computer Architecture
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- <div class="line-break"></div>
    <section class="section--page">
        <h2><a href="https://github.com/shubshres" matTooltip="Visit my GitHub page?" matTooltipPosition="right" matTooltipHideDelay="300"
            matTooltipShowDelay="300">GitHub</a></h2>
        <img src="https://ghchart.rshah.org/shubshres" alt="My GitHub Chart" />
    </section> -->
</div>
